<% if @url.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@url.errors.count, "error") %>.
    </div>
    <ul>
    <% @url.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <li>Please type url in proper format: www.example.com</li>
    </ul>
  </div>
<% end %>