<footer class="footer">
  <small>
    The Decisiv Exercise
    by <a href="https://www.linkedin.com/in/ruizaj/">AJ Ruiz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "List of URLs",   index_path %></li>
    </ul>
  </nav>
</footer>